@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.Movie-wrapper {
  width: 500px;
  background-color: rgb(52, 252, 129);
  color: black;
}

.Movie-search {
  height: 30px;
  font-size: 24px;
  border-radius: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  border-style: none;
  padding: 20px;
  width: 450px;
}

.Movie-title {
  height: 100px;
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
}

.Movie-date {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: italic;
}

.Movie-rate {
  margin-bottom: 30px;
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.Loading-animation {
  margin-top: 20px;
  height: 10px;
  background-color: #61dafb;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}

.No-results {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.Movie-detail img{
  float: left;
  margin-left: 80px;
  margin-right: 40px;
}

.judulok{
  font-size: 50px;
  font-weight: bold;
}

.Movie-detail p {
  margin-left: 40px;
  text-align: justify;
  font-family: 'Poppins';
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

@media (max-width: 828px) {
  .Movie-wrapper {
    width: 90%;
  }

  .Movie-search {
    width: 100%; 
    max-width: 450px; 
  }

  .Movie-detail img {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .Movie-detail p {
    margin-left: 0; 
    text-align: left; 
  }
}